<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <button class="nav-link d-flex align-items-center fs-5" href="#" onclick="loadPage('home')">
      <img src="/TI1-1S-24-25/app/assets/logos/banner-light-mode.png" alt="Logo" class="img-fluid" width="70">
      <span class="ms-2 fw-bold">ChopChop Barbers</span>
    </button>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto d-flex justify-content-center w-100">
        <li class="nav-item">
          <button class="nav-link fs-5" href="#" onclick="loadPage('home')">Home</button>
        </li>
        <li class="nav-item">
          <button class="nav-link fs-5" href="#" onclick="loadPage('shop')">Shop</button>
        </li>
        <li class="nav-item">
          <button class="nav-link fs-5" href="#" onclick="loadPage('about')">About Us</button>
        </li>
        <li class="nav-item">
          <button class="nav-link fs-5" href="#" onclick="loadPage('contact')">Contact Us</button>
        </li>
      </ul>
      <li id="cartAmmount" class="d-flex align-items-center position-relative" onclick="loadPage('checkout')">
        <button class="nav-link bi bi-cart-fill fs-4"></button>
        <span id="cartCount" class="position-relative mb-2 top-0 right-0 translate-middle badge rounded-pill bg-danger">
          0
        </span>
      </li>
    </div>
  </div>
</nav>