<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="nav-link" href="#" onclick="loadPage('home')">
      <img src="/app/assets/logos/logo-light-mode.png" alt="Logo" class="img-fluid" width="100">
    </button>    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Botões da navbar no Header -->
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" id="navBarNav">
        <button class="nav-link" href="#" onclick="loadPage('home')">Home</button>
        <button class="nav-link" href="#" onclick="loadPage('form')">Form</button>
        <button class="nav-link" href="#" onclick="loadPage('shop')">shop</button>
      </div>
    </div>
  </div>

  <!-- Div para apresentar a quantidade de itens adicionados ao carrinho -->
  <div id="cartAmmount"></div>
</nav>