<footer class="bg-light text-dark py-5">
    <div class="container">
        <div class="text-center">
            <a href="#" class="d-block mb-3 text-dark fw-bold text-decoration-none">
                <img src="/app/assets/logos/banner-light-mode.png" alt="ChopChop Logo" class="img-fluid" width="80">
            </a>            
            <p class="small text-muted">© 2024 ChopChop Barbers. All Rights Reserved.</p>
            <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#" class="text-dark text-decoration-none">
                        <i class="bi bi-facebook"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="text-dark text-decoration-none">
                        <i class="bi bi-twitter"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="text-dark text-decoration-none">
                        <i class="bi bi-instagram"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="text-dark text-decoration-none">
                        <i class="bi bi-github"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>